h1{
    color:blueviolet;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
img{
    border-radius: 50%;

}
 #header{
    color:cyan;

 } 
 .wrapper{
    color:lawngreen;

 }  
